In [1]:
import pandas as pd

In [2]:

# Load the Titanic dataset
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Create a contingency table for 'Pclass' and 'Survived'
contingency_table = pd.crosstab(df['Pclass'], df['Survived'])
print("Contingency Table:\n", contingency_table)

Contingency Table:
 Survived    0    1
Pclass
1          80  136
2          97   87
3         372  119

In [6]:
# Calculate conditional probability of survival given each passenger class
for pclass in range(1, 4):
# Probability of survival given the passenger class
    p_survival_given_class = contingency_table.loc[pclass, 1] / contingency_table.loc[pclass].sum()
    print(f"P(Survival = 1 | Pclass = {pclass}) = {p_survival_given_class:.2f}")

P(Survival = 1 | Pclass = 1) = 0.63
P(Survival = 1 | Pclass = 2) = 0.47
P(Survival = 1 | Pclass = 3) = 0.24